# Red LEDs
set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96

# Green LED
set_io D5 95

# Pmod connector
set_io event_in 79 # Pin 2
set_io glitch_out 81 # Pin 4
set_io rst 87 # Pin 7

# FTDI Port B UART
set_io uart_tx 8
set_io uart_rx 9

# 12 MHz clock
set_io clk 21
set_frequency clk 12
